:root {
    --navbar-height: 48px; 
    --navbar-padding: 10px;
    --navbar-line-height: 28px;
    --navbar-position: fixed;
    --navbar-background-color: #080824df;
    --navbar-text-color: #ffffff;
    --navbar-background-blur: 7px;
    --sidebar-width: 260px;
    --sidebar-height: calc(100% - 75px);
    --sidebar-background-color: #020202;
    --sidebar-text-color: #ffffff;
    --sidebar-padding: 10px;
    --sidebar-content-padding: 8px;
    --sidebar-content-margin: 8px;
    --db-sidebar-width: 200px;
    --db-sidebar-height: calc(100% - 75px);
    --db-sidebar-background-color: #020202;
    --db-sidebar-text-color: #FFFFFF;
    --db-sidebar-padding: 10px;
    --db-sidebar-content-padding: 8px;
    --db-sidebar-content-margin: 8px;
    --body-padding: 5px;
    --background-color: #fefefe;
    --text-color: #000000;
    --primary-font: "Roboto";
    --primary-color: #0080CB;
    --shadow-color: #222222;
    --block-background-color: #F0F0F0;
    --block-padding: 8px;
    --button-hover-color: #0060A9;
}

.sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scr   ollbar {
    display: none;
}

#searchGroup {
    display: flex;
}

#search {
    width: 450px;
    border-radius: 32px 0px 0px 32px;
}

#searchButton {
    margin-left: 0px;
    border-radius: 0px 32px 32px 0px;
}

.account-circle {
    border-radius: 50%;
    font-size: 24px;
    padding: 4px;
    font-weight: 500;
    text-align: center;
    margin-right: 12px;
    width: 32px !important;
}

#chatWindow {
    vertical-align: bottom;
    padding: 15px;
    margin-bottom: 35px;
}

.chat-details {
    text-align: left;
}

#messageToolbar {
    position: fixed;
    bottom: 0px;
    left: calc(var(--sidebar-width) + var(--body-padding) + 15px);
    right: 0px;
    border-top: 2px solid #eeeeee;
    height: 35px;
    background-color: #ffffff;
}

#messageBox {
    width: calc(100vw - (var(--sidebar-width) + var(--body-padding) + 15px) - 140px);
    overflow-y: scroll;
}